{% extends  'base.html.twig' %}
{% block body %}
<h1> Result !</h1>
{% if distance %}
<h4> The distance between </h4>
<br>
<table border="2">
   {% for key,value in postalAddress %}
   <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
   </tr>
   {% endfor %}
</table>
<br>
<h4>and</h4>
<br>
<table border="2">
   {% for key,value in ipAddress %}
   <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
   </tr>
   {% endfor %}
</table>
<br>
<h4>is {{distance}} km </h4>
<br>
<a href="{{path("form_address",{'id':id})}}" class="btn btn-primary">New Distance</a>
{% endif %}
{% endblock %}